name: Generate Snake Game

on:
  schedule:
    - cron: "0 0 * * *" 
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v3

      - name: generate-snake-game-from-github-contribution-grid
        uses: Platane/snk@v3
        with:
          github_user_name: ${{ github.repository_owner }}
          
          outputs: |
            dist/github-contribution-grid-snake.svg?color_snake=#F1BF00&color_dots=#ebedf0,#ffaaaa,#ff5555,#ff0000,#9c0000
            dist/github-contribution-grid-snake-dark.svg?palette=github-dark&color_snake=#F1BF00&color_dots=#161b22,#ffaaaa,#ff5555,#ff0000,#9c0000

      - name: push github-contribution-grid-snake.svg to the output branch
        uses: crazy-max/ghaction-github-pages@v3.1.0
        with:
          target_branch: output
          build_dir: dist
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
